swagger: '2.0'
info:
  title: Fulfillment.com API
  description: >
    Welcome to our current iteration of our REST API. While we encourage you to
    upgrade to v2.0 we will continue support for our [SOAP
    API](https://github.com/fulfillment/soap-integration).

    # Versioning

    The Fulfillment.com (FDC) REST API is version controlled and backwards
    compatible. Meaning you have nothing to worry about... while we have many
    future APIs scheduled for publication within our v2.0 spec, we will not
    remove knowledge from previously published APIs. But be prepared for us to
    add data nodes in our responses.


    #### A Current Response

    ```javascript

    {
      id: 123
    }

    ```


    #### A Potential Future Response

    ```javascript

    {
      id: 123,
      reason: "More Knowledge"
    }

    ```


    ## Using FDC API v2.0

    All you need to do is specify the version in the URL of your request
    https://api.fulfillment.com/v2


    # Getting Started

    1. We use OAuth v2.0 to authenticate clients, you will need to contact your
    account executive to obtain an OAuth `client_id` and `client_secret`.

    2. Using those auth credentials along with your `username` and `password`
    obtain an `access_token`

    see [POST /oauth/access_token](#operation/generateToken).
      + Tip: Generate an additional login and use those credentials for your integration so that changes are accredited to that "user".
    3. Now you can make future requests to our other APIs by filling your
    `Authorization` header with `Bearer {access_token}`.


    ## Date Time Definitions

    We will report all date-time stamps using the [ISO
    8601](https://en.wikipedia.org/wiki/ISO_8601) standard.


    ### The Fulfillment Process

    Many steps are required to fulfill your order we report back to you three
    fundamental milestones inside the orders model.

    * `recordedOn` When we received your order. This will never change.

    * `dispatchDate` When the current iteration of your order was scheduled for
    fulfillment. This may change however it is an indicator that the physical
    process of fulfillment has begun and a tracking number has been **assigned**
    to your order. The tracking number **MAY CHANGE**. You will not be able to
    cancel an order once it has been dispatched. If you need to recall an order
    that has been dispatched please contact your account executive.

    * `departDate` When we recorded your order passing our final inspection and
    placed with the carrier. At this point it is **safe to inform the
    consignee** of the tracking number as it will not change.


    ## Evaluating Error Responses

    We currently return two different error models, with and without context.
    All errors will include a `message` node while errors with `context` will
    include additional information designed to save you time when encountering
    highly probable errors. For example, when you send us a request to create a
    duplicate order, we will reject your request and the context will include
    the FDC order `id` so that you may record it for your records.
  x-logo:
    url: 'https://fulfillment.github.io/api/FDC_API_144x144.png'
  termsOfService: 'https://fulfillment.github.io/api/terms/'
  contact:
    email: dev@fulfillment.com
  version: '2.0'
host: api.fulfillment.com
basePath: /v2
parameters:
  authHeader:
    name: Authorization
    in: header
    description: OAuth 2.0 Bearer Access Token
    required: true
    type: string
tags:
  - name: auth
    description: >-
      Please note that in keeping with the OAuth standard, parameters are
      underscored however all other API parameters are camelCase.
  - name: orders
    description: 'Creating, viewing, and canceling orders'
x-tagGroups:
  - name: Support
    tags:
      - auth
  - name: Order Management
    tags:
      - orders
